@model IEnumerable<ServicioNegocio.EF.Unidad>

@{

    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    int pagina = 1;
    int i = 0;
}

<section id="listado" class="ta-c">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Listado de Unidades</h2>
                <br>
                <div class="box-form">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th scope="col">@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.ApellidoPropietario)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.NombrePropietario)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.EmailPropietario)</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row"> <a href="/Unidad/vieweditar/@item.IdUnidad">@Html.DisplayFor(modelItem => item.Nombre)</a></th>
                                    <td>@Html.DisplayFor(modelItem => item.ApellidoPropietario)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NombrePropietario)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmailPropietario)</td>
                                    <td><a href="#" class="a-delete" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-times-circle"></i></a></td>
                                </tr>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>¿Esta seguro que desea eliminar la unidad?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary btn-lg">
                                                    <a class="underlineHover" type="" href="/Unidad/Eliminar/@item.IdUnidad"> Confirmar</a>
                                                </button>

                                                <button type="button" class="btn btn-secondary btn-lg">
                                                    <a class="underlineHover" type="" href="/Unidad/Listar">Cancelar</a>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @{int j = 0;
                            }

                            @for (i = 0; i < ViewBag.TotalRegistros; i += 4)
                            {
                                <li class="page-link">
                                    @Html.ActionLink(pagina++.ToString(), "Listar", "Unidad", new { posicion = i }, null)
                                </li>
                            }
                          
                        </ul>
                    </nav>
                    <br>
                    <div class="row">
                        <div class="col-3 offset-9">
                            <a class="btn btn-primary" href="/Unidad/ViewCrear">Nueva Unidad </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="mapa" class="bg-light ta-c">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Ubicaciones</h2>
                <br>
                <img src="../../Img/map.png">
            </div>
        </div>
    </div>
</section>

