@model Consorcio.Models.UnidadModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<section class="d-flex align-items-center" id="registration-form">
    <div class="container">
        <div class="row ">
            <div class="col text-center box-form">
                <h2>Nuevo Unidad</h2>
                <br>
                <div class="image"></div>
                <div class="frm">
                    <form action="Guardar" method="post">
                        <div class="form-group text-left">
                            <div class="form-group text-black-75 text-left">
                                <label for="NombreUnidad">Nombre Unidad:</label><br />
                                @Html.EditorFor(Model => Model.Nombre)
                                <div class="form-group text-danger">
                                    @Html.ValidationMessageFor(Model => Model.Nombre)
                                </div>
                            </div>
                            <div class="form-group text-black-75 text-left">
                                <label for="NombrePropietario">Nombre Propietario:</label><br />
                                @Html.EditorFor(Model => Model.NombrePropietario)
                                <div class="form-group text-danger">
                                    @Html.ValidationMessageFor(Model => Model.NombrePropietario)
                                </div>
                            </div>
                            <div class="form-group text-black-75 text-left">
                                <label for="ApellidoPropietario">Apellido Propietario:</label><br />
                                @Html.EditorFor(Model => Model.ApellidoPropietario)
                                <div class="form-group text-danger">
                                    @Html.ValidationMessageFor(Model => Model.ApellidoPropietario)
                                </div>
                            </div>
                            <div class="form-group text-black-75 text-left">
                                <label for="EmailPropietario"> Email:</label><br />
                                @Html.EditorFor(Model => Model.EmailPropietario)
                                <div class="form-group text-danger">
                                    @Html.ValidationMessageFor(Model => Model.EmailPropietario)
                                </div>
                            </div>
                            <div class="form-group text-black-75 text-left">
                                <label for="Superficie">Superficie(M2):</label><br />
                                @Html.EditorFor(Model => Model.Superficie)
                                <div class="form-group text-danger">
                                    @Html.ValidationMessageFor(Model => Model.Superficie)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10 text-right">
                                    <button type="submit" class="btn btn-primary btnForm" name="accion" value="Guardar">Guardar</button>
                                    <button type="submit" class="btn btn-primary btnForm" name="accion" value="GuardarCrear">Guardar y crear otro</button>
                                    <button type="button" class="btn btn-primary btnForm">
                                        <a class="" href="../Unidad/Listar">Cancelar</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="customInput" value="@ViewBag.mensaje" />
<script>
    window.onload = unidadCreada;

    function unidadCreada() {
        var customVal = document.getElementById('customInput').value;
        if (customVal != "") {
            alert(customVal);
        } else {
            return;
        }
    }
</script>