<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Page.Title</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/CSS/estilos.css")
    @Scripts.Render("~/Scripts/myscript/scripts.js")
    <!--Icons FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top nav-color" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/consorcio/Listar">Mis Consorcios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="span12">
            @Html.MvcSiteMap().SiteMapPath("_BootstrapSiteMapPathHelperModel")
        </div>
    </div>
    <div>
        @RenderBody()
    </div>



    <!-- Footer -->
    @Html.Partial("Footer")
</body>
</html>
