@model Consorcio.Models.UsuarioModel
@{
        ViewBag.Title = "Registrarse";
        Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<div class="col-lg-6">
    <div class="card2 card  px-4 py-5">
        <h2><b>Registrarse</b></h2>
        <hr>
        <form action="Alta" method="post">
            <div class="form-group text-black-75 text-left">
                <label for="Email">Direccion Email:</label><br />
                @Html.EditorFor(Model => Model.Email)
                <div class="form-group text-danger">
                    @Html.ValidationMessageFor(Model => Model.Email)
                </div>
            </div>
            <div class="form-group text-black-75 text-left">
                <label for="NombreUnidad">Ingresar Contraseña:</label><br />
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Ingrese Contraseña" })
                <div class="form-group text-danger">
                    @Html.ValidationMessageFor(Model => Model.Password)
                </div>
            </div>
            <div class="form-group text-black-75 text-left">
                <label for="NombreUnidad">Reingresar Contraseña:</label><br />
                @Html.PasswordFor(model => model.RePassword, new { @class = "form-control", placeholder = "Reingrese Contraseña" })
                <div class="form-group text-danger">
                    @Html.ValidationMessageFor(Model => Model.RePassword)
                </div>
            </div>
            <br>
            <div class="row mb-3 px-3">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            <h1>@Session["MsjError"]</h1>
        </form>
    </div>
</div>