@model ServicioNegocio.Models.ExpensaModel

@{
    ViewBag.Title = "Expensas";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

    List<ServicioNegocio.EF.Expensa> expensas = Model.expensas;
}


<section id="listado" class="ta-c">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Expensas</h2><br>
                <div class="box-form">
                    <h5>Unidades: @Model.cantidadUnidades</h5>
                    <h5>Gastos totales del mes: $@Model.gastosActuales</h5>
                    <h5>Monto por Unidad: $@Model.montoPorUnidad</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Año</th>
                                <th scope="col">Mes</th>
                                <th scope="col">Gastos</th>
                                <th scope="col">Expensa por unidad</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in expensas)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.AnioExpensa)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MesExpensa)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GastoTotal)</td>
                                    <td> @Html.DisplayFor(modelItem => item.ExpensaUnidad)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


