@model IEnumerable<ServicioNegocio.EF.Consorcio>

@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    int pagina = 1;
    int i = 0;
}

<section id="listado" class="ta-c">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Listado de Consorcios</h2>
                <br>
                <div class="box-form">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Ciudad), @Html.DisplayNameFor(model => model.Calle), @Html.DisplayNameFor(model => model.Altura)</th>
                                <th scope="col">Unidades</th>
                                <th scope="col">Expensas</th>
                                <th scope="col">Gastos</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row"> <a href="../Consorcio/ViewEditar/@item.IdConsorcio">@Html.DisplayFor(modelItem => item.Nombre)</a></th>
                                    <td>@Html.DisplayFor(modelItem => item.Provincia.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Ciudad),  @Html.DisplayFor(modelItem => item.Calle), @Html.DisplayFor(modelItem => item.Altura)</td>
                                    <td><a href="/Unidad/listar/@item.IdConsorcio"> <i class="fas fa-building"> </i></a></td>
                                    <td><a href="/Consorcio/Expensas/@item.IdConsorcio"><i class="fas fa-list"></i></a></td>
                                    <td><a href="/Gasto/listar/@item.IdConsorcio"><i class="fas fa-coins"></i></a></td>
                                    <td><a href="../Consorcio/ViewEliminarConsorcio/@item.IdConsorcio" class="a-delete"><i class="fas fa-times-circle"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">

                            @{int j = 0;

                                if (j == 0)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                }
                                @*else
                                            {
                                    <li class="page-item ">

                                        <a class="page-link" href='@Html.ActionLink(pagina++.ToString(), "Listar", "Consorcio", new { posicion = i-1, cantidad = 4 }, null)'>Previous</a>
                                    </li>
                                            }*@
                            }

                            @for (i = 0; i < ViewBag.TotalRegistros; i += 4)
                            {

                                //@Html.DisplayFor(valor => i)
                                <li class="page-link">
                                    @Html.ActionLink(pagina++.ToString(), "Listar", "Consorcio", new { posicion = i }, null)
                                </li>
                            }

                            @{
                                if (i == (ViewBag.TotalRegistros - 4))
                                {

                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                    <br>
                    <div class="row">
                        <div class="col-3 offset-9">
                            <a class="btn btn-primary" href="/Consorcio/ViewCrear">Nuevo Consorcio</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="mapa" class="bg-light ta-c">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Ubicaciones</h2>
                <br>
                <img src="../../Img/map.png">
            </div>
        </div>
    </div>
</section>

