@model ServicioNegocio.EF.Consorcio

@{ ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

    List<ServicioNegocio.EF.Provincia> provincias = ViewBag.provincias as List<ServicioNegocio.EF.Provincia>;

    List<SelectListItem> provinciaItems = provincias.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdProvincia.ToString()
    }).ToList();

    provinciaItems.Insert(0, new SelectListItem() { Value = "", Text = "Seleccione Provincia" }); }


<section>
    <div class="container">
        <div class="col text-center">
                <div class=""><h1>Consorcio "@ViewBag.nombreCon" - Editando</h1></div>
        </div>
        <div class="row">
            <div class="col-md-3 fondo">
                <div class="contact-info"></div>
            </div>
            <div class="col-md-5">
                    <form action="/consorcio/GuardarEdicion" method="post">
                        <input type="hidden" name="IdConsorcio" value="@Model.IdConsorcio" />

                    <div class="form-group text-left">
                            <label for="Nombre">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Html.DisplayFor(model => model.Nombre)" placeholder="Ingrese Nombre" required>
                        </div>
                    <div class="form-group text-left">
                            <label for="pwd">Provincia:</label>
                    @Html.DropDownListFor(Model => Model.IdProvincia, provinciaItems)
                    <input type="hidden" name="IdProvincia" value="@Html.DisplayFor(model => model.IdProvincia)">
                        </div>
                    <div class="form-group text-left">
                            <label for="username">Ciudad:</label>
                            <input type="text" class="form-control" id="Ciudad" name="Ciudad" value="@Html.DisplayFor(model => model.Ciudad)" placeholder="Re-Ingrese Ciudad" required>
                        </div>
                    <div class="form-group text-left">
                            <label for="username">Calle:</label>
                            <input type="text" class="form-control" id="Calle" name="Calle" value="@Html.DisplayFor(model => model.Calle)" placeholder="Re-Ingrese Calle" required>
                        </div>
                    <div class="form-group text-left">
                            <label for="username">Altura:</label>
                            <input type="text" class="form-control" id="Altura" name="Altura" value="@Html.DisplayFor(model => model.Altura)" placeholder="Re-Ingrese Altura" required>
                        </div>
                    <div class="form-group text-left">
                            <label for="username">Dia Venc. Expensas:</label>
                            <input type="text" class="form-control" id="DiaVencimientoExpensas" value="@Html.DisplayFor(model => model.DiaVencimientoExpensas)" name="DiaVencimientoExpensas" placeholder="Re-Ingrese Dia" required>
                        </div>
                    <div class="form-group text-left">
                        <input type="hidden" name="IdConsorcio" value="@Html.DisplayFor(model => model.IdConsorcio)">
                    </div>
                    <div class="row">
                        <div class="col-8 offset-2 text-right">
                            <button type="submit" class="btn btn-primary btnForm">Guardar</button>
                            <button type="button" class="btn btn-primary btnForm">
                                <a class="" type="" href="/Consorcio/Listar">Cancelar</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <section>
                    <h3>@ViewBag.contarUnidades Unidades </h3>

                    <a href="/Unidad/listar/@Model.IdConsorcio" class="text-black-50"> <i class="fas fa-building"></i>  Unidades</a><br /><br />

                    <a href="/Consorcio/Expensas/@Model.IdConsorcio" class="text-black-50"><i class="fas fa-list"></i> Expensas</a><br /><br />

                    <a href="gastos.html" class="text-black-50"><i class="fas fa-coins"></i>  Gastos</a><br /><br />
                    <button type="button" class="btn btn-primary btnForm">
                        <a href="../Consorcio/ViewEliminarConsorcio/@Model.IdConsorcio" class="a-delete"><i class="fas fa-times-circle"></i>  Eliminar</a>
                    </button>
                </section>
            </div>
        </div>
    </div>
</section>