@model ServicioNegocio.EF.Consorcio

@{ ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

    List<ServicioNegocio.EF.Provincia> provincias = ViewBag.provincias as List<ServicioNegocio.EF.Provincia>;

    List<SelectListItem> provinciaItems = provincias.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdProvincia.ToString()
    }).ToList();

    provinciaItems.Insert(0, new SelectListItem() { Value = "", Text = "Seleccione Provincia" }); }


<section class="d-flex align-items-center" id="registration-form">
    <div class="container">
        <div class="row ">
            <div class="col text-center box-form">
                <h2>Editar Consorcio</h2>
                <br>
                <div class="image"></div>
                <div class="frm">
                    <form action="/consorcio/GuardarEdicion" method="post">
                        <input type="hidden" name="IdConsorcio" value="@Model.IdConsorcio" />

                        <div class="form-group text-left">
                            <label for="Nombre">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Html.DisplayFor(model => model.Nombre)" placeholder="Ingrese Nombre" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="pwd">Provincia:</label>
                            @Html.DropDownListFor(Model => Model.IdProvincia, provinciaItems)
                            <input type="hidden" name="IdProvincia" value="@Html.DisplayFor(model => model.IdProvincia)">
                        </div>
                        <div class="form-group text-left">
                            <label for="username">Ciudad:</label>
                            <input type="text" class="form-control" id="Ciudad" name="Ciudad" value="@Html.DisplayFor(model => model.Ciudad)" placeholder="Re-Ingrese Ciudad" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="username">Calle:</label>
                            <input type="text" class="form-control" id="Calle" name="Calle" value="@Html.DisplayFor(model => model.Calle)" placeholder="Re-Ingrese Calle" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="username">Altura:</label>
                            <input type="text" class="form-control" id="Altura" name="Altura" value="@Html.DisplayFor(model => model.Altura)" placeholder="Re-Ingrese Altura" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="username">Dia Venc. Expensas:</label>
                            <input type="text" class="form-control" id="DiaVencimientoExpensas" value="@Html.DisplayFor(model => model.DiaVencimientoExpensas)" name="DiaVencimientoExpensas" placeholder="Re-Ingrese Dia" required>
                        </div>
                        <div class="form-group text-left">
                            <input type="hidden" name="IdConsorcio" value="@Html.DisplayFor(model => model.IdConsorcio)">
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2 text-right">
                                <button type="submit" class="btn btn-primary btnForm">Guardar</button>
                                <button type="button" class="btn btn-primary btnForm">
                                    <a class="" type="" href="/Consorcio/Listar">Cancelar</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-8 offset-2">@ViewBag.contarUnidades Unidades </div>

        <button type="button" class="btn btn-primary btnForm">
            <a href="/Unidad/listar/@Model.IdConsorcio"> <i class="fas fa-building"> </i></a>
        </button>
        <button type="button" class="btn btn-primary btnForm">
            <a href="expensas.html"><i class="fas fa-list"></i></a>
        </button>
        <button type="button" class="btn btn-primary btnForm">
            <a href="gastos.html"><i class="fas fa-coins"></i></a>
        </button>
        <button type="button" class="btn btn-primary btnForm">
            <a href="../Consorcio/ViewEliminarConsorcio/@Model.IdConsorcio" class="a-delete"><i class="fas fa-times-circle"></i></a>
        </button>

    </div>
</section>


<section>


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                    <h2>Contact Us</h2>
                    <h4>We would love to hear from you !</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fname">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lname">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">Comment:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>