@model ServicioNegocio.EF.Consorcio

@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Formulario de Alta</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    </head>

    <body>
        <div class="container" id="registration-form">
            <div class=""><h1>Editar Consorcio</h1></div>
            <div class="image"></div>
            <div class="frm">
                <form action="GuardarEdicion" method="post">
                    <div class="form-group">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Html.DisplayFor(model => model.Nombre)" placeholder="Ingrese Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Provincia:</label>
                        <input type="text" class="form-control" id="IdProvincia" name="IdProvincia" value="@Html.DisplayFor(model => model.IdProvincia)" placeholder="Ingrese Provincia" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Ciudad:</label>
                        <input type="text" class="form-control" id="Ciudad" name="Ciudad" value="@Html.DisplayFor(model => model.Ciudad)" placeholder="Re-Ingrese Ciudad" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Calle:</label>
                        <input type="text" class="form-control" id="Calle" name="Calle" value="@Html.DisplayFor(model => model.Calle)" placeholder="Re-Ingrese Calle" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Altura:</label>
                        <input type="text" class="form-control" id="Altura" name="Altura" value="@Html.DisplayFor(model => model.Altura)" placeholder="Re-Ingrese Altura" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Dia Venc. Expensas:</label>
                        <input type="text" class="form-control" id="DiaVencimientoExpensas" value="@Html.DisplayFor(model => model.DiaVencimientoExpensas)" name="DiaVencimientoExpensas" placeholder="Re-Ingrese Dia" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg">Guardar</button>
                        <button type="button" class="btn btn-success btn-lg">
                            <a class="underlineHover" type="" href="/Consorcio/Listar">Cancelar</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

