@model IEnumerable<ServicioNegocio.EF.Gasto>

@{
    
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Lista Gastos";
    int pagina = 1;
    int i = 0;
}


<section id="listado" class="ta-c">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Listado de Gastos</h2>

                <br>
                <div class="box-form">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th scope="col">@Html.DisplayNameFor(model => model.AnioExpensa)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.MesExpensa)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.TipoGasto.Nombre)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.FechaGasto)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Monto)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.ArchivoComprobante)</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="../ViewEditar/@item.IdGasto">@Html.DisplayFor(modelItem => item.AnioExpensa)</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.MesExpensa)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TipoGasto.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FechaGasto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Monto)</td>
                                    <td><a href="../VerComprobanteDesdeListar/@item.IdGasto" target="_blank"><i class="fas fa-file-download"></i></a></td>
                                    <td><a href="#" class="a-delete" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-times-circle"></i></a></td>

                                </tr>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>¿Esta seguro que desea eliminar la unidad?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary btn-lg">
                                                    <a class="underlineHover" type="" href="/Gasto/Eliminar/@item.IdGasto"> Confirmar</a>
                                                </button>

                                                <button type="button" class="btn btn-secondary btn-lg">
                                                    <a class="underlineHover" type="" href="/Gasto/Listar">Cancelar</a>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @{int j = 0;

                            }

                            @for (i = 0; i < ViewBag.TotalRegistros; i += 4)
                            {
                                <li class="page-link">
                                    @Html.ActionLink(pagina++.ToString(), "Listar", "Gasto", new { posicion = i }, null)
                                </li>
                            }


                        </ul>
                    </nav>
                    <br>
                    <div class="row">
                        <div class="col-3 offset-9">
                            <a class="btn btn-primary" href="/Gasto/ViewCrear">Nuevo Gasto </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>